<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc
	http://www.springframework.org/schema/mvc/spring-mvc.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.opera.controllers, com.opera.aspect"/>
    <mvc:annotation-driven/>

    <!-- utf-8编码 避免中文乱码 或在 requestMapping 注解中加 produces="charset=utf-8" -->
    <mvc:annotation-driven>
        <mvc:message-converters register-defaults="true">
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <constructor-arg value="UTF-8" />
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!-- 通常是给 jsp 用的，但也可以给 html 等用，在 controller 返回的视图名中就不用手动拼 .html 了，说白了就是一个 return String 的前后缀 -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/"/>
        <property name="suffix" value=".html"/>
    </bean>

    <!-- 对 Controller 返回的视图有效，同时直接 http://localhost:8080/home.html 也可以-->
    <mvc:resources location="/html/" mapping="/**.html" />

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="10485760"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
<!--            <mvc:mapping path="/*"/>-->
<!--            <mvc:exclude-mapping path="/login/*"/>-->
            <mvc:mapping path="/page/*"/>
            <mvc:mapping path="/get_code"/>
            <bean class="com.opera.interceptors.WechatPageInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- https://cdinit.github.io/2018/05/23/controller-aop/ -->
    <!-- 切 controller 的话必须放在 mvc 里-->
    <aop:aspectj-autoproxy />
</beans>
